:root {
    --preto-color: #1f1f1f;
    --cinza-color: #2b2b2b;
    --vinho-color: #800020;
}

.container-main-começo{
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 30vh;
}

.conteudo-main-começo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30vh;
}

.titulo-começo{
    color: #fff;
}

.label-começo{
    font-size: 40px;
    color: #fff;
    margin-bottom: 20px;
}

.btn-começo{
    max-width: 200px;
    height: auto;
    margin-top: 20px;
}

.container-main-começo{
    visibility: hidden;
}
