:root {
    --preto-color: #1f1f1f;
    --cinza-color: #2b2b2b;
    --vinho-color: #800020;
}

/*conteúdo começo*/
.container-main-começo{
    max-width: 850px;
    margin: 0 auto;
    margin-top: 20vh;
    margin-bottom: 35vh;
}

.conteudo-main-começo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulo-começo{
    color: #fff;
}

.label-começo{
    font-size: 40px;
    color: #fff;
    margin-bottom: 20px;
}

.btn-começo{
    max-width: 200px;
    height: auto;
    margin-top: 20px;
}

.container-main-começo{
    visibility: hidden;
}
/*final do conteúdo começo*/

/*media query*/
@media screen and (max-width: 1020px){
    .titulo-começo{
        font-size: 25px;
    }

    .label-começo{
        font-size: 25px;
    }
}

@media screen and (max-width: 1220px){
    .container-main-começo{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }

    .btn-começo{
        max-width: 150px;
        height: auto;
        margin-left: 20%;
        display: flex;
        text-align: center;
    }
}
/*final do media query*/
