:root {
    --preto-color: #1f1f1f;
    --cinza-color: #2b2b2b;
    --vinho-color: #800020;
}

main {
    margin-bottom: 30vh;
    margin-top: 50vh;
}

/*cumprimento*/
.container-cumprimento {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.imagem-cumprimento {
    display: flex;
}

.imagem-cumprimento img {
    max-width: 90%; /* Ajusta a largura máxima da imagem */
    height: auto;
    transition: .2s;
}

.imagem-cumprimento img:hover{
    transform: scale(1.05);
}

.all-titulos-cumprimento {
    flex: 1;
    display: flex;
    align-items: end;
    text-align: end;
    flex-direction: column;
}

.titulo-cumprimento {
    color: #fff;
    font-size: 36px;
}

.subtitulo-cumprimento {
    color: #808080;
    font-size: 22px;
}

.btn-cumprimento{
    width: 200px;
    height: auto;
    margin-top: 30px;
}
/*final do cumprimento*/


/*modal cv*/
.custom-backdrop {
    background-color: rgba(0, 0, 0, 0.3); /* Ajuste a cor e a opacidade conforme necessário */
}

.modal-footer button, a{
    background-color: var(--cinza-color);
}

.descricao-modal-footer{
    color: #fff;
    font-size: 30px;
}
/*final do modal cv*/

/*about me*/
.sobre-mim{
    background-color: var(--preto-color);
    margin-bottom: 50vh;
    width: 100%;
}

.conteudo-sobre-mim{
    max-width: 1080px;
    margin: 0 auto;
    background-color: var(--preto-color);
}

.columns{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--preto-color);
}

.titulo-sobre-mim{
    max-width: 1080px;
    margin: 0 auto;
    color: #fff;
    font-size: 41px;
    background-color: var(--preto-color);
}

.texto-sobre-mim{
    color: #fff;
    font-size: 25px;
    margin-right: 6%;
    background-color:  var(--preto-color);
    align-items: start;
    justify-content: start;
    text-align: start;
}

.imagem-sobre-mim{
    background-color: var(--preto-color);
}

.imagem-sobre-mim img{
    max-width: 400px;
    border-radius: 80px;
    background-color:  var(--preto-color);
}

.sobre-mim .imagem-sobre-mim img{
    position: relative;
    animation: flutuar 1.5s ease-in-out infinite alternate;
}
@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}
/*final about me*/


/*media query*/

@media screen and (max-width: 1020px){
    /*cumprimento*/
    .container-cumprimento {
        flex-direction: column;
        padding: 0 8%;
    }

    .all-titulos-cumprimento{
        display: flex;
        text-align: center;
        align-items: center;
    }

    .container-cumprimento .imagem-cumprimento img{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 20%;
        margin-bottom: 10px;
        max-width: 60%;
    } 

    .all-titulos-cumprimento .titulo-cumprimento{
        font-size: 25px;
    }

    .all-titulos-cumprimento .subtitulo-cumprimento{
        font-size: 15px;
    }

    .all-titulos-cumprimento .btn-cumprimento{
        width: 100px;
        height: auto;
    }

    /*sobre mim*/
    .conteudo-sobre-mim{
        flex-direction: column;
        padding: 0 8%;
    }

    .titulo-sobre-mim{
        font-size: 25px;
    }

    .texto-sobre-mim{
        font-size: 16px;
    }

    .imagem-sobre-mim img{
        max-width: 250px;
    }
}

    @media screen and (max-width: 1220px){
        /*cumprimento*/
        .container-cumprimento {
            flex-direction: column;
        }



        .all-titulos-cumprimento{
            display: flex;
            text-align: center;
            align-items: center;
        }

        /*sobre mim*/
        .conteudo-sobre-mim .columns{
            flex-direction: column;
        }

        .titulo-sobre-mim{
            display: flex;
            justify-content: center;
        }

        .texto-sobre-mim{
            display: flex;
            text-align: center;
        }

    }
/*final do media query*/

