:root {
    --preto-color: #1f1f1f;
    --cinza-color: #2b2b2b;
    --vinho-color: #800020;
    --whats-color: rgb(51, 99, 51);
}

/*cumprimento*/
.container-cumprimento {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 35vh;
}

.imagem-cumprimento {
    display: flex;
}

.imagem-cumprimento img {
    max-width: 90%; /* Ajusta a largura máxima da imagem */
    height: auto;
    transition: .2s;
}

.imagem-cumprimento img:hover{
    transform: scale(1.05);
}

.all-titulos-cumprimento {
    flex: 1;
    display: flex;
    align-items: end;
    text-align: end;
    flex-direction: column;
}

.titulo-cumprimento {
    color: #fff;
    font-size: 36px;
}

.subtitulo-cumprimento {
    color: #808080;
    font-size: 22px;
}

.btn-cumprimento{
    width: 200px;
    height: auto;
    margin-top: 30px;
}

.palavra-cumprimento{
    color: var(--vinho-color);
    font-weight: 600;
}
/*final do cumprimento*/


/*modal cv*/
.custom-backdrop {
    background-color: rgba(0, 0, 0, 0.3); /* Ajuste a cor e a opacidade conforme necessário */
}

.modal-footer button, a{
    background-color: var(--cinza-color);
}

.descricao-modal-footer{
    color: #fff;
    font-size: 30px;
}
/*final do modal cv*/

/*about me*/
.sobre-mim{
    max-width: 1080px;
    margin: 0 auto;
    background-color: var(--preto-color);
}

.conteudo-sobre-mim{
    background-color: var(--preto-color);
    width: 100%;
    margin-top: 35vh;
}

.columns{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--preto-color);
}

.titulo-sobre-mim{
    max-width: 1080px;
    margin: 0 auto;
    color: #fff;
    font-size: 41px;
    background-color: var(--preto-color);
}

.texto-sobre-mim{
    color: #fff;
    font-size: 20px;
    margin-right: 6%;
    background-color:  var(--preto-color);
    align-items: start;
    justify-content: start;
    text-align: start;
}

.texto-sobre-mim i{
    color: var(--vinho-color);
    background-color: var(--preto-color);
    padding: 10px;
}

.imagem-sobre-mim{
    background-color: var(--preto-color);
}

.imagem-sobre-mim img{
    max-width: 400px;
    border-radius: 80px;
    background-color:  var(--preto-color);
}

.sobre-mim .imagem-sobre-mim img{
    position: relative;
    animation: flutuar 1.5s ease-in-out infinite alternate;
}

.palavra-sobre-mim{
    color: var(--vinho-color);
    font-weight: 600;
    background-color: var(--preto-color);
}
@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}
/*final about me*/

/*portfolio*/
.conteudo-portfolio{
    max-width: 1080px;
    margin: 0 auto;
    margin-top: 35vh;
}

.flex{
    display: flex;
    gap: 80px;
}

section.portfolio{
    padding: 80px 4%;
}

.titulo-portfolio{
    max-width: 1080px;
    margin: 0 auto;
    color: #fff;
    font-size: 41px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.palavra-portfolio{
    color: var(--vinho-color);
    font-weight: 500;
    gap: 10px;
    margin-left: 10px;
}

.img-port{
    width: 360px;
    height: 460px;
    background-color: var(--vinho-color);
    background-size: cover;
    background-position: 100% 0%;
    transition: 2s;
    cursor: pointer;
    border-radius: 30px;
    position: relative;
}

.img-port:hover{
    background-position: 100% 100%;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000a8;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    opacity: 0;
    transition: .5s;
}

.overlay:hover{
    opacity: 1;
}

#proj1{
    background-image: url(/public/judobriga.png);
}

#proj2{
    background-image: url(/public/portfolio.png);
}

#proj3{
    background-image: url(/public/portfolio.png);
}

/*final do portfolio*/

/*contato*/
.conteudo-contato{
    max-width: 1080px;
    margin: 0 auto;
    background-color: var(--preto-color);
    margin-top: 35vh;
    margin-bottom: 35vh;
}

.contato{
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-contato{
    color: #fff;
    font-size: 41px;
    text-align: center;
    word-wrap: break-word;
    word-break: break-all;
}

.palavra-contato{
    color: var(--vinho-color);
    font-weight: 400;
}

.label-contato{
    display: block;
    font-size: 30px;
    color: #fff;
    font-weight: 400;
}

.input-contato{
    width: 100%;
    height: 3vh;
    font: inherit;
    color: #fff;
    border: none;
    background-color: var(--preto-color);
    border-radius: 10px;
    padding: 4%;
}

.btn-whats button{
   width: 77vh;
   margin-top: 4%;
}
/*final contato*/


/*media query*/

@media screen and (max-width: 1020px){

    /*cumprimento*/
    .container-cumprimento {
        max-width: 300px;
        flex-direction: column;
        padding: 0 8%;
    }

    .all-titulos-cumprimento{
        display: flex;
        text-align: center;
        align-items: center;
    }

    .container-cumprimento .imagem-cumprimento img{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 10%;
        margin-bottom: 10px;
        max-width: 80%;
    } 

    .all-titulos-cumprimento .titulo-cumprimento{
        font-size: 28px;
    }

    .all-titulos-cumprimento .subtitulo-cumprimento{
        font-size: 20px;
    }

    .all-titulos-cumprimento .btn-cumprimento{
        width: 100px;
        height: auto;
    }

    /*sobre mim*/   
    .sobre-mim{
        max-width: 300px;
        margin-left: 15%;
    }

    .columns{
        display: grid;
        grid-template-columns: 1fr;
    }
            
    .titulo-sobre-mim{
        font-size: 28px;
        margin-bottom: 20px;
    }
    
    .texto-sobre-mim{
        font-size: 15px;
        align-items: center;
        justify-content: center;
    }
    
    .texto-sobre-mim i{
        padding: 8px;
    }
    
    .imagem-sobre-mim img{
        max-width: 200px;
        margin-left: 25px;
    }

    /*portfolio*/

    .titulo-portfolio{
        font-size: 28px;
    }

    .img-port{
        width: 200px;
        height: 300px;    
    }

    .flex{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /*contato*/


    .titulo-contato{
        font-size: 28px;
    }

    .input-contato{
        width: 20%;
    }

    .form-contato{
        max-width: 300px;
    }

    .label-contato{
        font-size: 25px;
    }

    .input-contato{
        height: 1vh;
    }

    .btn-whats button{
        max-width: 300px;
    }

}

    @media screen and (max-width: 1420px){
        /*cumprimento*/
        .container-cumprimento {
            flex-direction: column;
        }



        .all-titulos-cumprimento{
            display: flex;
            text-align: center;
            align-items: center;
        }

        /*sobre mim*/

        /*contato*/
        .input-contato{
            width: 100%;
            height: 8vh;
        }

        .btn-whats button{
            margin-top: 4%;
            width: 117vh;
         }

    }
/*final do media query*/

